In [1]:
# Run this cell to render a mitosheet
# See mito's documentation here: https://docs.trymito.io/how-to/creating-a-mitosheet
# Join our Discord for support here: https://discord.gg/XdJSZyejJU

import mitosheet

## import datasets

In [2]:
import pandas as pd

df1 = pd.read_csv('state-abbrevs.csv')
df1.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [3]:
df2 = pd.read_csv('state-areas.csv')
df2.head()

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [4]:
df3 = pd.read_csv('state-population.csv')
df3.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

## launch mitosheet

In [5]:
mitosheet.sheet(df1, state_areas, state_population)

NameError: name 'state_abbrevs' is not defined

## join tables
![](https://i.imgur.com/amg1HrG.png)

## generate code automatically

In [ ]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-33b03e30-6b3a-413d-94fa-c98d7b2daf64') # Let Mito know which analysis is being run

# Merged df1 and df3
temp_df = df3.drop_duplicates(subset='state/region') # Remove duplicates so lookup merge only returns first match
df4 = df1.merge(temp_df, left_on=['abbreviation'], right_on=['state/region'], how='left', suffixes=['_df1', '_df3'])

# Merged df4 and df2
df5 = df4.merge(df2, left_on=['state'], right_on=['state'], how='left', suffixes=['_df4', '_df2'])

 
# MITO CODE END (DO NOT EDIT)

## show results

In [ ]:
df5.head()

## join tables